.break{
    padding: 25px;
    background-image: url(../../../assets/All/import/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    /* Filter to dim the image */
    background-color: rgba(0, 0, 0, 0.0); /* Transparent background */
    filter: brightness(0.8); /* Adjust brightness (1.0 = normal) */
}
h4{
    margin-right: 3rem;
}
h4 a{
    color: #000;
}
h4 a:hover{
    text-decoration: none;
}