.head{
    padding: 20px 0;
    background: #f1f5f9;
}
.logo h1{
    font-size: 35px;
    font-weight: 900;
}
.head .icon{
    margin-left: 10px;
    /* color: #f28201; */
}
.fa-facebook-f{
    color: #3B5998;
}
.fa-instagram{
    color: #E4783E;
}
.fa-tiktok{
    color: #FF0000;
}
.fa-youtube{
    color: #C2282E;
}
.fa-whatsapp{
    color: #25D366;
}
.logo_pics{
    width: 50px;
}

/* General styles for the header */
nav {
    background-color: #ffffffcc;
  }
  
  header ul {
    padding: 10px 20px;
  }
  
  header li a{
    color: var(--primary-color-variant);
    text-decoration: none;
  }